.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-top: 3.4em; 
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column
}

.wrap {
  padding: 0.2em;
}

.container {
  flex: 1;
  position: relative;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}